{% extends "base.html" %}
{% block titre %}Erreur 500{% endblock %}
{% block contenu %}
<main>
    <h2>ERREUR 401</h2>
    <p>Vous ne devriez pas être ici suivez ce <a href="/authentification/connexion?page_voulue={{ page }}">lien</a> pour retrouver la bonne voie.</p>
</main>
{% endblock %}