{% extends "base.html" %}
{% block titre %}Création d'utilisateur{% endblock %}
{% block contenu %}
    <form method="post">
        {% if messages is defined and messages|length > 0 %}
            <div class="alert alert-warning" role="alert">
                <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="form-group">
            <label for="id">Identifiant</label>
            <input type="text" class="form-control" id="id" name="id">
        </div>
        <div class="form-group">
            <label for="mot-passe">Password</label>
            <input type="password" class="form-control" id="mot-passe" name="mot-passe">
        </div>
        {% if estAdmin %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="admin" id="admin" {%
                        if est_admin %}checked= "checked" {% endif %}>
                <label class="form-check-label" for="admin">
                    Admin
                </label>
            </div>
        {% endif %}

        <button type="submit" class="btn btn-primary">Créer</button>
    </form>
{% endblock %}
