{% extends "base.html" %}
{% block titre %}Accueil{% endblock %}
{% block contenu %}
<div class="jumbotron">
        {% if session['utilisateur'] is defined %}
            <h1 class="display-4">Bienvenue {{ identifiant }} sur l'application Alerte COVID!  </h1>
        {% else %}
            <h1 class="display-4">Bienvenue sur l'application Covid! </h1>
        {% endif %}
  <p class="lead">Unissons-nous pour limiter la propagation de la COVID-19. Alerte COVID est un outil supplémentaire pour vous protéger, vous et vos proches.</p>
  <hr class="my-4">
  <p>Application gratuite</p>
  <p class="lead">
      {% if session['utilisateur'] is defined %}
          <a class="btn btn-primary btn-lg" href="/cas/creer-cas" role="button">Enregistrer un cas de Covid-19</a>
      {% endif %}
      <a class="btn btn-primary btn-lg" href="/cas/liste" role="button">Voir tout les cas de COVID</a>
      <a class="btn btn-primary btn-lg" href="/cas/liste_par_region" role="button">Voir les cas par région</a>
  </p>
</div>
{% endblock %}
