{% extends "base.html" %}
{% block titre %}Enregistrement cas de Covid-19{% endblock %}
{% block contenu %}
    <h2>Enregistrement cas de Covid-19</h2>
    <form method="post">
        {% if messages is defined and messages|length > 0 %}
            <div class="alert alert-warning" role="alert">
                <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <input type="hidden" id="date" name="date" value={{ date }}>
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom">
        </div>
        <div class="form-group">
            <label for="prenom">Prénom</label>
            <input type="text" class="form-control" id="prenom" name="prenom">
        </div>
        <div class="form-group">
                <label for="region">Régions</label>
                <select id="region" name="region">
                    {% for region in regions %}
                        <option value="{{ region.id }}">{{ region.nom }}</option>
                    {% endfor %}
               </select>
           </div>
        <button type="submit" class="btn btn-primary">Créer</button>
    </form>
{% endblock %}
