{% extends "base.html" %}
{% block titre %}Liste des cas{% endblock %}
{% block contenu %}
    <main>
        <h2>Liste des cas</h2>
        <table class="table table-stripped">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Région</th>
                <th scope="col">Initiales</th>
                {% if estAdmin %}
                    <th scope="col">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for cas in liste_cas %}
                <tr>
                    <td>{{cas.date}}</td>
                    <td>{{cas.region.nom}}</td>
                    <td>{{ cas.prenom[0] + cas.nom[0] }}</td>
                    {% if estAdmin %}
                        <td><a href="{{ cas.id }}/supprimer" class="btn btn-primary">Supprimer</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
