{% extends "base.html" %}
{% block titre %}Liste des cas par région{% endblock %}
{% block contenu %}
    <main>
        <h2>Liste de nombre de cas par région</h2>
        <table class="table table-stripped">
            <thead>
            <tr>
                <th scope="col">Région</th>
                <th scope="col">Cas</th>
            </tr>
            </thead>
            <tbody>
            {% for region in donnees_regions %}
                <tr>
                    <td>{{region[0]}}</td>
                    <td>{{region[1]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
